Repository victorrabelozup/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android-framework

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 4%
        base: auto
      ios:
        flags: ios
      android-framework:
        flags: android-framework
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
  android-framework:
    paths:
      - android/
      - backend/
      - common/

ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

test
  iOS/Sources/BeagleUI/Sources/Accessibility/Accessibility.swift
Due: ios

Increased number of names before * import to stop it. (#125)
  .editorconfig
Due: none

codecov android flag name fix (#120)
  bitrise.yml
  codecov.yml
Due: none

✨ Adding FormInputHidden (#121)
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/UIViewRendererFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/layout/FormInputHiddenViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/layout/FormViewRenderer.kt
  android/beagle/src/test/java/br/com/zup/beagle/engine/renderer/layout/FormInputHiddenViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/engine/renderer/layout/FormViewRendererTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/FormFragment.kt
  bitrise.yml
  common/declarative/src/main/kotlin/br/com/zup/beagle/widget/form/FormInputHidden.kt
Due: android-framework

:sparkles: Add discord notification when a new version of beagle is deployed (#132)
  bitrise.yml
Due: none

Adding scrollview to sample (#107)
  backend/sample/src/main/kotlin/br/com/zup/beagle/sample/service/SampleActionService.kt
  backend/sample/src/main/kotlin/br/com/zup/beagle/sample/service/SampleFormService.kt
  backend/sample/src/main/kotlin/br/com/zup/beagle/sample/service/SampleListViewService.kt
  backend/sample/src/main/kotlin/br/com/zup/beagle/sample/service/SampleScrollViewService.kt
  backend/sample/src/main/kotlin/br/com/zup/beagle/sample/service/SampleTouchableService.kt
Due: android-framework

Add discord notification to the deploy step (#138)
  bitrise.yml
Due: none

Text component with vertical align top (#131)
  iOS/Example/BeagleDemo/BeagleDemo/BeagleStyle.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/LazyComponentScreen.swift
  iOS/Sources/BeagleUI/Sources/Action/Tests/__Snapshots__/TouchableTests/testTouchableView.1.png
  iOS/Sources/BeagleUI/Sources/Components/Layout/Flex/Tests/__Snapshots__/ContainerTests/test_renderContainer.1.png
  iOS/Sources/BeagleUI/Sources/Components/Layout/Scroll/Tests/__Snapshots__/ScrollViewTests/test_renderScrollView.1.png
  iOS/Sources/BeagleUI/Sources/Components/ListView/Tests/ListViewTests.swift
  iOS/Sources/BeagleUI/Sources/Components/ListView/Tests/__Snapshots__/ListViewTests/testDirectionHorizontal.1.png
  iOS/Sources/BeagleUI/Sources/Components/ListView/Tests/__Snapshots__/ListViewTests/testDirectionHorizontalWithManyLargeRows.1.png
  iOS/Sources/BeagleUI/Sources/Components/ListView/Tests/__Snapshots__/ListViewTests/testDirectionHorizontalWithManyRows.1.png
  iOS/Sources/BeagleUI/Sources/Components/ListView/Tests/__Snapshots__/ListViewTests/testDirectionHorizontalWithRowsWithDifferentSizes.1.png
  iOS/Sources/BeagleUI/Sources/Components/ListView/Tests/__Snapshots__/ListViewTests/testDirectionVertical.1.png
  iOS/Sources/BeagleUI/Sources/Components/ListView/Tests/__Snapshots__/ListViewTests/testDirectionVerticalWithManyLargeRows.1.png
  iOS/Sources/BeagleUI/Sources/Components/ListView/Tests/__Snapshots__/ListViewTests/testDirectionVerticalWithManyRows.1.png
  iOS/Sources/BeagleUI/Sources/Components/ListView/Tests/__Snapshots__/ListViewTests/testDirectionVerticalWithRowsWithDifferentSizes.1.png
  iOS/Sources/BeagleUI/Sources/Components/Text/Tests/TextTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Text/Tests/__Snapshots__/TextTests/test_renderTextComponent.1.png
  iOS/Sources/BeagleUI/Sources/Components/Text/Text.swift
  iOS/Sources/BeagleUI/Sources/Renderer/Tests/BeagleViewBuilderTests.swift
  iOS/Sources/BeagleUI/Sources/Renderer/Tests/__Snapshots__/BeagleScreenViewControllerTests/test_loadPreFetchedScreen.1.png
  iOS/Sources/BeagleUI/Sources/Renderer/Tests/__Snapshots__/BeagleScreenViewControllerTests/test_whenLoadScreenFails_itShouldRenderFallbackScreen.1.png
  iOS/Sources/BeagleUI/Sources/Renderer/Tests/__Snapshots__/BeagleScreenViewControllerTests/test_whenLoadScreenSucceeds_itShouldSetupTheViewWithTheResult.1.png
  iOS/Sources/BeagleUI/Sources/Theme/Theme.swift
  iOS/Sources/BeagleUI/Sources/Theme/ThemeTests.swift
Due: ios

Feature/input hidden ios (#134)
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/DSCollection/DSCollectionUIComponent.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/LazyComponentScreen.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Accessibility/Accessibility.swift
  iOS/Sources/BeagleUI/Sources/Common/Extensions/FlexBuildersExtension.swift
  iOS/Sources/BeagleUI/Sources/Common/Extensions/Tests/FlexBuildersExtensionTests.swift
  iOS/Sources/BeagleUI/Sources/Common/Extensions/Tests/UnitValueExtensionTests.swift
  iOS/Sources/BeagleUI/Sources/Common/Extensions/UnitValueExtension.swift
  iOS/Sources/BeagleUI/Sources/Components/Form/Input/FormInput.swift
  iOS/Sources/BeagleUI/Sources/Components/Form/Input/FormInputComponent.swift
  iOS/Sources/BeagleUI/Sources/Components/Form/Input/FormInputHidden.swift
  iOS/Sources/BeagleUI/Sources/Components/Form/Input/Tests/FormInputTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Form/Submit/SubmitFormGestureRecognizer.swift
  iOS/Sources/BeagleUI/Sources/Components/Form/Tests/FormTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Form/Tests/Json/formComponent.json
  iOS/Sources/BeagleUI/Sources/Components/Form/Tests/__Snapshots__/FormTests/test_formSubmit_shouldPassRightDataToBeSubmitted.1.txt
  iOS/Sources/BeagleUI/Sources/Components/Form/Tests/__Snapshots__/FormTests/test_whenDecodingJson_thenItShouldReturnAForm.1.txt
  iOS/Sources/BeagleUI/Sources/Components/Layout/Flex/EdgeValue.swift
  iOS/Sources/BeagleUI/Sources/Context/BeagleContext.swift
  iOS/Sources/BeagleUI/Sources/Context/BeagleContextTests.swift
  iOS/Sources/BeagleUI/Sources/Decoding/ComponentDecoder.swift
  iOS/Sources/BeagleUI/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllDecodersAreBeingRegistered.1.txt
  iOS/Sources/BeagleUI/Sources/Networking/Tests/NetworkTests.swift
Due: ios

Feature preview (#126)
  android/android-preview/.gitignore
  android/android-preview/build.gradle
  android/android-preview/consumer-rules.pro
  android/android-preview/gradle.properties
  android/android-preview/proguard-rules.pro
  android/android-preview/src/main/AndroidManifest.xml
  android/android-preview/src/main/java/br/com/zup/beagle/preview/BeaglePreview.kt
  android/android-preview/src/main/java/br/com/zup/beagle/preview/PreviewActivity.kt
  android/android-preview/src/main/res/layout/activity_preview.xml
  android/android-preview/src/test/java/br/com/zup/beagle/preview/BeaglePreviewTest.kt
  android/beagle/src/main/java/br/com/zup/beagle/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/view/YogaLayout.java
  android/sample/src/main/AndroidManifest.xml
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/res/menu/menu_navigation_drawer.xml
  buildSrc/src/main/java/Dependencies.kt
  settings.gradle
Due: android-framework

adding live preview submodule (#137)
  BeagleUI.podspec
  iOS/BeagleUI.podspec
  iOS/Darwin-BeagleUI.xcworkspace/contents.xcworkspacedata
  iOS/Sources/Preview/BeaglePreview.xcodeproj/project.pbxproj
  iOS/Sources/Preview/BeaglePreview.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/Sources/Preview/BeaglePreview.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Sources/Preview/Cartfile
  iOS/Sources/Preview/Cartfile.resolved
  iOS/Sources/Preview/Resources/BeaglePreview.h
  iOS/Sources/Preview/Resources/Info.plist
  iOS/Sources/Preview/Sources/BeaglePreview.swift
  iOS/Sources/Preview/Sources/BeaglePreviewConfig.swift
  iOS/Sources/Preview/Sources/BeaglePreviewViewController.swift
  iOS/Sources/Preview/Sources/ConnectionHandler.swift
Due: ios

iOS Vertical Scroll (#130)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Components/Layout/Scroll/ScrollView.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout/Scroll/Tests/Json/HorizontalScrollView.json
  iOS/Sources/BeagleUI/Sources/Components/Layout/Scroll/Tests/ScrollViewTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout/Scroll/Tests/__Snapshots__/ScrollViewTests/test_renderHorizontalScrollView.1.png
  iOS/Sources/BeagleUI/Sources/Components/Layout/Scroll/Tests/__Snapshots__/ScrollViewTests/test_whenDecodingJson_shouldReturnAScrollView.1.txt
Due: ios

keep facebook copyright instead of beagle's (#149)
  android/beagle/src/main/java/br/com/zup/beagle/view/YogaLayout.java
Due: android-framework

Feature tab icon tint (#145)
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/ui/TabViewRenderer.kt
  android/beagle/src/main/res/values/attrs.xml
  android/beagle/src/test/java/br/com/zup/beagle/engine/renderer/ui/TabViewRendererTest.kt
  android/sample/src/main/res/color/selector_icon_color.xml
  android/sample/src/main/res/values/styles.xml
Due: android-framework

WebView Component (#118)
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/WebViewScreen.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Components/WebView/Tests/WebView.json
  iOS/Sources/BeagleUI/Sources/Components/WebView/Tests/WebViewTests.swift
  iOS/Sources/BeagleUI/Sources/Components/WebView/Tests/__Snapshots__/WebViewTests/test_whenDecondingJson_shouldReturnAWebView.1.txt
  iOS/Sources/BeagleUI/Sources/Components/WebView/WebView.swift
  iOS/Sources/BeagleUI/Sources/Components/WebView/WebViewUIComponent.swift
  iOS/Sources/BeagleUI/Sources/Decoding/ComponentDecoder.swift
  iOS/Sources/BeagleUI/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllDecodersAreBeingRegistered.1.txt
Due: ios

Creating Beagle Android WebView component (#123)
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/UIViewRendererFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/ui/WebViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/view/ViewFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/engine/renderer/UIViewRendererFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/engine/renderer/ui/WebViewRendererTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/WebViewFragment.kt
  android/sample/src/main/res/menu/menu_navigation_drawer.xml
  common/declarative/src/main/kotlin/br/com/zup/beagle/widget/ui/WebView.kt
Due: android-framework

fix formValidationActionHandler method handle (#122)
  android/beagle/src/main/java/br/com/zup/beagle/action/FormValidationActionHandler.kt
  android/beagle/src/test/java/br/com/zup/beagle/action/FormValidationActionHandlerTest.kt
Due: android-framework

:bug: Fixes deserialization for FormInputHidden and fixes flex for the input hidden (#141)
  android/beagle/src/main/java/br/com/zup/beagle/data/serializer/adapter/ComponentJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/layout/FormInputHiddenViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/layout/FormViewRenderer.kt
  android/beagle/src/test/java/br/com/zup/beagle/engine/renderer/layout/FormInputHiddenViewRendererTest.kt
Due: android-framework

Created Beagle Micronaut Starter to wrap Beagle Framework for Micronaut (#146)
  backend/framework/src/main/kotlin/br/com/zup/beagle/cache/BeagleCacheHandler.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/cache/RestCacheHandler.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/constants/PropertyConstants.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/cache/BeagleCacheHandlerTest.kt
  backend/sample/micronaut/build.gradle
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/filter/CacheFilter.kt
  backend/sample/micronaut/src/main/resources/application.properties
  backend/starters/beagle-micronaut-starter/build.gradle
  backend/starters/beagle-micronaut-starter/gradle.properties
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleCacheConfiguration.kt
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleJacksonConfiguration.kt
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeagleCacheFilter.kt
  backend/starters/beagle-micronaut-starter/src/test/kotlin/br/com/zup/beagle/micronaut/Extensions.kt
  backend/starters/beagle-micronaut-starter/src/test/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleCacheConfigurationTest.kt
  backend/starters/beagle-micronaut-starter/src/test/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleJacksonConfigurationTest.kt
  backend/starters/beagle-micronaut-starter/src/test/kotlin/br/com/zup/beagle/micronaut/filter/BeagleCacheFilterTest.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/configuration/BeagleCacheAutoConfiguration.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/filter/BeagleCacheFilter.kt
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/configuration/BeagleCacheAutoConfigurationTest.kt
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/configuration/BeagleJacksonAutoConfigurationTest.kt
  buildSrc/src/main/java/Dependencies.kt
  settings.gradle
Due: android-framework

Improvement/ios logs (#142)
  iOS/Sources/BeagleUI/.swiftlint.yml
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/BeagleUI/Sources/Components/Form/Form.swift
  iOS/Sources/BeagleUI/Sources/Components/ServerDrivenComponent.swift
  iOS/Sources/BeagleUI/Sources/Context/BeagleContext.swift
  iOS/Sources/BeagleUI/Sources/Decoding/AnyDecodableContainer.swift
  iOS/Sources/BeagleUI/Sources/Logger/BeagleLogger.swift
  iOS/Sources/BeagleUI/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/BeagleUI/Sources/Logger/Tests/BeagleLoggerTests.swift
  iOS/Sources/BeagleUI/Sources/Logger/Tests/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/BeagleUI/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/BeagleUI/Sources/Navigation/Navigate.swift
  iOS/Sources/BeagleUI/Sources/Navigation/NavigateEntity.swift
  iOS/Sources/BeagleUI/Sources/Navigation/Tests/BeagleNavigatorTests.swift
  iOS/Sources/BeagleUI/Sources/Navigation/Tests/__Snapshots__/NavigateTests/testAllEntityToAction.1.txt
  iOS/Sources/BeagleUI/Sources/Networking/Default/NetworkClientDefault.swift
  iOS/Sources/BeagleUI/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

Feature tab icon color (#147)
  iOS/Example/BeagleDemo/BeagleDemo/BeagleStyle.swift
  iOS/Sources/BeagleUI/Sources/Accessibility/Accessibility.swift
  iOS/Sources/BeagleUI/Sources/Action/ShowNativeDialog.swift
  iOS/Sources/BeagleUI/Sources/Caching/Prefetch/Tests/BeaglePrefetchHelperTests.swift
  iOS/Sources/BeagleUI/Sources/Common/Extensions/NSErrorExtension.swift
  iOS/Sources/BeagleUI/Sources/Common/Extensions/NSObjectExtension.swift
  iOS/Sources/BeagleUI/Sources/Common/Extensions/Tests/NSErrorExtensionTests.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar/TabBarCollectionViewCell.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar/TabViewUIComponent.swift
  iOS/Sources/BeagleUI/Sources/Theme/Theme.swift
  iOS/Sources/BeagleUI/Sources/Theme/ThemeTests.swift
Due: ios

fixed problem when live preview dependency was generated (#156)
  android/android-preview/build.gradle
  android/sample/src/main/AndroidManifest.xml
  maven-publish.gradle
Due: android-framework

Standard URL builder for Beagle (#154)
  android/android-processor/src/main/java/br/com/zup/beagle/compiler/BeagleSetupPropertyGenerator.kt
  android/android-processor/src/main/java/br/com/zup/beagle/compiler/util/BeagleClasses.kt
  android/beagle/src/main/java/br/com/zup/beagle/data/BeagleService.kt
  android/beagle/src/main/java/br/com/zup/beagle/form/FormSubmitter.kt
  android/beagle/src/main/java/br/com/zup/beagle/networking/UrlFormatter.kt
  android/beagle/src/main/java/br/com/zup/beagle/networking/urlbuilder/UrlBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/networking/urlbuilder/UrlBuilderDefault.kt
  android/beagle/src/main/java/br/com/zup/beagle/networking/urlbuilder/UrlBuilderFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/setup/BeagleConfig.kt
  android/beagle/src/test/java/br/com/zup/beagle/data/BeagleServiceTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/form/FormSubmitterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/networking/UrlFormatterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/networking/urlbuilder/UrlBuilderDefaultTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/networking/urlbuilder/UrlBuilderFactoryTest.kt
Due: android-framework

Feature/analytics (#160)
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AnalyticsMock.swift
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Action/Tests/TouchableTests.swift
  iOS/Sources/BeagleUI/Sources/Action/Tests/__Snapshots__/TouchableTests/testInitFromDecoder.1.txt
  iOS/Sources/BeagleUI/Sources/Action/Touchable.swift
  iOS/Sources/BeagleUI/Sources/Analytics/Analytics.swift
  iOS/Sources/BeagleUI/Sources/Analytics/AnalyticsGestureRecognizer.swift
  iOS/Sources/BeagleUI/Sources/Analytics/AnalyticsModels.swift
  iOS/Sources/BeagleUI/Sources/Analytics/Tests/AnalyticsTests.swift
  iOS/Sources/BeagleUI/Sources/Analytics/Tests/Json/buttonAnalyticsComponent.json
  iOS/Sources/BeagleUI/Sources/Analytics/Tests/Json/screenAnalyticsComponent.json
  iOS/Sources/BeagleUI/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfullForClickEvent.1.txt
  iOS/Sources/BeagleUI/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfullForScreenEvent.1.txt
  iOS/Sources/BeagleUI/Sources/Components/Button/Button.swift
  iOS/Sources/BeagleUI/Sources/Components/Button/ButtonTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Form/Tests/__Snapshots__/FormTests/test_whenDecodingJson_thenItShouldReturnAForm.1.txt
  iOS/Sources/BeagleUI/Sources/Components/Layout/Screen/ScreenComponent.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout/Screen/Tests/ScreenComponentTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout/Screen/Tests/__Snapshots__/ScreenComponentTests/test_whenDecodingJson_thenItShouldReturnAScreen.1.txt
  iOS/Sources/BeagleUI/Sources/Components/ServerDrivenComponent.swift
  iOS/Sources/BeagleUI/Sources/Context/BeagleContext.swift
  iOS/Sources/BeagleUI/Sources/Context/BeagleContextTests.swift
  iOS/Sources/BeagleUI/Sources/Logger/Tests/BeagleLoggerTests.swift
  iOS/Sources/BeagleUI/Sources/Navigation/Tests/BeagleNavigatorTests.swift
  iOS/Sources/BeagleUI/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/BeagleUI/Sources/Renderer/BeagleScreenViewModel.swift
  iOS/Sources/BeagleUI/Sources/Renderer/Screen.swift
  iOS/Sources/BeagleUI/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Due: ios

[android] Form can trigger any action, and now there is FormRemoteAction to use it with the same behaviour (#153)
  android/beagle/src/main/java/br/com/zup/beagle/action/ActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/action/ActionHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/action/CustomActionHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/action/FormValidationActionHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/action/NavigationActionHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/action/ShowNativeDialogActionHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/layout/FormViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/form/FormSubmitter.kt
  android/beagle/src/main/java/br/com/zup/beagle/view/BeagleActivity.kt
  android/beagle/src/test/java/br/com/zup/beagle/action/ActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/engine/renderer/layout/FormInputHiddenViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/engine/renderer/layout/FormViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/form/FormSubmitterTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppCustomActionHandler.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ComposeComponentFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/DisabledFormSubmitFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/FormFragment.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/FormScreenBuilder.kt
  common/declarative/src/main/kotlin/br/com/zup/beagle/action/CustomAction.kt
  common/declarative/src/main/kotlin/br/com/zup/beagle/widget/form/Form.kt
Due: android-framework

[iOS] Form can trigger any action, and now there is FormRemoteAction to use it with the same behaviour (#166)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/FormScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/LazyComponentScreen.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Action/ActionExecutor.swift
  iOS/Sources/BeagleUI/Sources/Action/CustomActionHandler.swift
  iOS/Sources/BeagleUI/Sources/Action/Tests/ActionExecutorTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Form/Form.swift
  iOS/Sources/BeagleUI/Sources/Components/Form/FormRemoteAction.swift
  iOS/Sources/BeagleUI/Sources/Components/Form/Tests/FormTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Form/Tests/Json/formComponent.json
  iOS/Sources/BeagleUI/Sources/Components/Form/Tests/__Snapshots__/FormTests/test_formSubmit_shouldPassRightDataToBeSubmitted.1.txt
  iOS/Sources/BeagleUI/Sources/Components/Form/Tests/__Snapshots__/FormTests/test_whenDecodingJson_thenItShouldReturnAForm.1.txt
  iOS/Sources/BeagleUI/Sources/Context/BeagleContext.swift
  iOS/Sources/BeagleUI/Sources/Decoding/ComponentDecoder.swift
  iOS/Sources/BeagleUI/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllDecodersAreBeingRegistered.1.txt
  iOS/Sources/BeagleUI/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/BeagleUI/Sources/Logger/Tests/BeagleLoggerTests.swift
  iOS/Sources/BeagleUI/Sources/Logger/Tests/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/BeagleUI/Sources/Networking/Default/Tests/UrlRequestBuilderTest.swift
  iOS/Sources/BeagleUI/Sources/Networking/Default/Tests/__Snapshots__/UrlRequestBuilderTest/testBuilder.1.txt
  iOS/Sources/BeagleUI/Sources/Networking/Request.swift
  iOS/Sources/BeagleUI/Sources/Networking/Tests/NetworkTests.swift
  iOS/Sources/BeagleUI/Sources/Renderer/BeagleScreenViewModel.swift
  iOS/Sources/BeagleUI/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/BeagleDependencies.swift
Due: ios

live preview render toolbar now (#164)
  android/android-preview/src/main/java/br/com/zup/beagle/preview/PreviewActivity.kt
  android/android-preview/src/main/res/layout/activity_preview.xml
Due: android-framework

adding android code owners (#167)
  CODEOWNERS
  android/CODEOWNERS
Due: android-framework

fixed network image renderer (#173)
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/ui/NetworkImageViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/view/YogaLayout.java
  android/beagle/src/test/java/br/com/zup/beagle/engine/renderer/ui/NetworkImageViewRendererTest.kt
Due: android-framework

Adding analytic events to Touchable, Button and Screen Widgets (#161)
  android/android-processor/src/main/java/br/com/zup/beagle/compiler/BeagleSetupPropertyGenerator.kt
  android/android-processor/src/main/java/br/com/zup/beagle/compiler/util/BeagleClasses.kt
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/layout/ScreenViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/layout/TouchableViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/ui/ButtonViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/setup/BeagleConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/view/BeagleFlexView.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/layout/ScreenComponent.kt
  android/beagle/src/test/java/br/com/zup/beagle/engine/renderer/layout/ScreenViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/engine/renderer/layout/TouchableViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/engine/renderer/ui/ButtonViewRendererTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppAnalytics.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/NavigationFragment.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/AnalyticsScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleAnalyticsService.kt
  common/declarative/src/main/kotlin/br/com/zup/beagle/analytics/Analytics.kt
  common/declarative/src/main/kotlin/br/com/zup/beagle/analytics/ClickEvent.kt
  common/declarative/src/main/kotlin/br/com/zup/beagle/analytics/ScreenAnalytics.kt
  common/declarative/src/main/kotlin/br/com/zup/beagle/analytics/ScreenEvent.kt
  common/declarative/src/main/kotlin/br/com/zup/beagle/analytics/TouchableAnalytics.kt
  common/declarative/src/main/kotlin/br/com/zup/beagle/widget/layout/Screen.kt
  common/declarative/src/main/kotlin/br/com/zup/beagle/widget/navigation/Touchable.kt
  common/declarative/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
Due: android-framework

Change maven deploy to bintray (#174)
  build.gradle
  gradle.properties
  maven-publish.gradle
Due: none

Update publishRemote.sh (#176)
  publishRemote.sh
Due: none

Update publishRemote.sh (#183)
  publishRemote.sh
Due: none

Removed space between attribute from screen (#180)
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/layout/ScreenViewRenderer.kt
  android/beagle/src/test/java/br/com/zup/beagle/engine/renderer/layout/ScreenViewRendererTest.kt
Due: android-framework

Fix bintay repo name (#185)
  gradle.properties
Due: none

Added plugin to update dependencies (#178)
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/ui/ButtonViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/utils/StyleManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/view/BeagleActivity.kt
  android/beagle/src/main/res/values/attrs.xml
  android/beagle/src/test/java/br/com/zup/beagle/utils/StyleManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/utils/ToolbarManagerTest.kt
  android/sample/src/main/res/values/styles.xml
  build.gradle
  buildSrc/src/main/java/Dependencies.kt
  gradle/wrapper/gradle-wrapper.properties
Due: android-framework
