Repository victorrabelozup/beagle: changes, and which Codecov flags are due for each by the changed paths.
All: ios, android-framework

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 4%
        base: auto
      ios:
        flags: ios
      android-framework:
        flags: android-framework
    patch: no
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  ios:
    paths:
      - iOS/
  android-framework:
    paths:
      - android/
      - backend/
      - common/

ignore:
 - "iOS/Sources/BeagleUI/**/Tests/"
 - "iOS/Sources/BeagleUI/**/*Test*.swift"
 - "iOS/Sources/BeagleUI/**/*Tests*.swift"
 - "iOS/Libraries/"

run agai
  fastlane/Fastfile
Due: none

Adjust release
  .github/workflows/release.yml
  fastlane/Fastfile
  fastlane/delete_release.sh
Due: none

Adjust yml
  .github/workflows/release.yml
Due: none

ddd
  fastlane/README.md
  fastlane/delete_release.sh
  iOS/bitrise.yml
Due: ios

Using specific version
  .github/workflows/release.yml
Due: none

Edit release file
  .github/workflows/release.yml
Due: none

adjust file
  .github/workflows/release.yml
Due: none

Adjust release
  .github/workflows/release.yml
Due: none

Adjust sh
  .github/workflows/release.yml
  fastlane/Fastfile
  fastlane/delete_release.sh
Due: none

Adjsut yml
  .github/workflows/release.yml
Due: none

Add log in release script
  fastlane/delete_release.sh
Due: none

Adjust script
  fastlane/Fastfile
Due: none

adjsut
  .github/workflows/release.yml
  fastlane/Fastfile
Due: none

list view with context added
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewContextAdapter2Test.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewTwoTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ContextListViewFragment.kt
  android/sample/src/main/res/menu/menu_navigation_drawer.xml
Due: android-framework

added ids and data logic
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
Due: android-framework

added logic to set context inside list
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
Due: android-framework

fixed reference shared in context
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ContextListViewFragment.kt
Due: android-framework

added onInit logic
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Action.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildrenAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormRemoteAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/OnInitableComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/UndefinedAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextComponentHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonPathFinder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/OnInitiableWidget.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextComponentHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/CustomAndroidAction.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/actions/CustomAndroidAction.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ContextListViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ListViewFragment.kt
Due: android-framework

fixed id in listview
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
Due: android-framework

removed save and restore context logic
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
Due: android-framework

onBind changes
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextComponentHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/OnInitiableWidget.kt
Due: android-framework

created screen beagle view
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/ComposeBeagleViewBottom.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/ComposeBeagleViewCenter.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleBeagleViewService.kt
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/BeagleStyle.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/NativeViewController.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/BeagleViewViewController.swift
Due: ios, android-framework

Synced Spring BFF sample to Micronaut BFF sample.
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleBeagleViewService.kt
Due: android-framework

merge with master
  iOS/Example/BeagleDemo/BeagleDemo/Screens/BeagleViewViewController.swift
Due: ios

Ignored the generated folder.
  schema/schema-ruby-erb/.gitignore
  schema/schema-ruby-erb/README.md
Due: none

added ids and context management to listview
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextComponentHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonPathFinder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/JsonExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ListViewIdViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/OnInitiableWidget.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ContextListViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ListViewFragment.kt
Due: android-framework

changed BeagleAdapterItem struct
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
Due: android-framework

Adjust recycler template ids
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
Due: android-framework

Adjust recycler template ids
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
Due: android-framework

Adjust onBind
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
Due: android-framework

implemented view model id to handle config changes
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextComponentHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ListViewIdViewModel.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ContextListViewFragment.kt
Due: android-framework

added clear image logic
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Due: android-framework

changed listview mock and stop recycling drawables
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Due: android-framework

added logic to handle ids in listViews
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ListViewIdViewModel.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Due: android-framework

indent adjust
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ListViewIdViewModel.kt
Due: android-framework

Adds compatibility to old ListView implementation
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListViewTwo.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ListViewFragment.kt
Due: android-framework

Revert ListView accidental change
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ListViewFragment.kt
Due: android-framework

Adjust ContextDataManager to manage correctly contexts without id
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
Due: android-framework
